 // Breakpoint variables (to help write media queries)
	$breakpoint-mobile: 480px;
	$breakpoint-tablet: 1020px;
	$breakpoint-desktop: 1280px;

// Standard site wide styling variables
 	$gutter-size-mobile: 32px;

// Z-indexes of key elements
 	$zIndex-sidebar-menu: 2;
